* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
}

body {
    background-color: whitesmoke;
}

.NavBar {
    background-color: #034f84;
    color: whitesmoke;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bolder;
    color: #fbffe8;
    font-size: 25px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    padding: 5px;
    box-sizing: border-box;
}

.menu li a {
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
}

button {
    padding: 10px;
}

input {
    padding: 10px;
}

label {
    text-transform: capitalize;
    padding-right: 20px;
}

.HomePage {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.ErrorMessage {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    background-color: #b11717;
    border-radius: 5px;
    box-sizing: border-box;
}

.noError {
    background-color: transparent;
}

.success {
    padding: 5px;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #69af4c;
    text-align: center;
    color: #ffffff;
}

.buttons_center {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.button {
    background-color: #80ced6;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #b7d7e8;
    border: 1px solid #383838;
}

.logout {
    background-color: #ffffff;
    border-radius: 5px;
    outline: none;
    border: none;
}

.Delbutton {
    background-color: #b11717;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #ffffff;
}

.Delbutton:hover,
.logout:hover {
    background-color: #e8b7b7;
    border: 1px solid #383838;
}

.polls {
    background-color: #b7d7e8;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
}

.poll {
    border-bottom: 1px solid #292929;
    padding: 20px;
}

.poll:hover {
    box-shadow: 1px 1px 3px #3b3a30;
}

.votePoll {
    width: 50%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

.Vote {
    margin-bottom: 60px;
    background-color: #b7d7e8;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.Chart {
    margin: auto;
    width: 60%;
    margin-bottom: 10px;
}

.Form {
    width: 50%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    background-color: #b7d7e8;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.Options {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.option {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.Auth {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}